<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="text-center">
    <form asp-controller ="Login" asp-action="Login" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <input type="text" name="username" id="username" class="form-control mb-3" placeholder="Enter username" required autofocus="">
        <input type="password" name="password" id="password" class="form-control mb-3" placeholder="Enter password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
    </form>
</body>
</html>


